@model bestillingsformularForBiludlejningsfirmaH3.Entities.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingVehicleId" class="control-label"></label>
                <select asp-for="BookingVehicleId" class ="form-control" asp-items="ViewBag.BookingVehicleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookingTimestampStart" class="control-label"></label>
                <input asp-for="BookingTimestampStart" type="date" class ="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="BookingTimestampEnd" class="control-label"></label>
                <input asp-for="BookingTimestampEnd" type="date" class ="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="BookingContact.BookingContactFullname" class="control-label"></label>
                <input asp-for="BookingContact.BookingContactFullname" class="form-control" />
                <span asp-validation-for="BookingContact.BookingContactFullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingContact.BookingContactEmail" class="control-label"></label>
                <input asp-for="BookingContact.BookingContactEmail" class="form-control" />
                <span asp-validation-for="BookingContact.BookingContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingContact.BookingContactPhone" class="control-label"></label>
                <input asp-for="BookingContact.BookingContactPhone" class="form-control" />
                <span asp-validation-for="BookingContact.BookingContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
